@media screen and ( max-width: 1200px )
  .robin
    width: 600px;
    object-fit: cover
    background-size: contain;
  .hero
    &__info
      max-width: 600px;
    &__title
      font-size: 60px;
      line-height: 75px;
  .main
    &__left-background
      width: 450px;
@media screen and ( max-width: 992px )
  .header
    background-color: #000000
  .main
    background-color: #000000
    &__left-background
      display: none;
      
  .hero
    &__title
      font-size: 56px;
      line-height: 67px
    &__info
      width: 500px
      top: 130px
  .robin
    width: 384px;
    height: 650px;
    background-image: url(../img/robin768.jpg);
@media screen and ( max-width: 768px )
  .header
    background-color: #000000
  .icon-logo
    left: 40px;
  .navbar
    padding-right: 40px;
  .main
    background-color: #000000
  .robin
    width: 384px;
    height: 650px;
    background-image: url(../img/robin768.jpg);
    
  .hero
    &__title
      font-size: 56px;
      line-height: 67px;
      &--another-color
        
    &__info
      width: 408px;
      height: 475px;
      top: 128px;
  .main__left-background
    display: none;