*

  box-sizing: border-box
body
  font-family: 'Sen', sans-serif;
  // background-color: #f5fafe
  // color: 

.container
  max-width: 1296px
  margin: auto
  img
    max-width: 100%
.link  
  text-decoration: none;
  outline: none 
  cursor: pointer