
.main
  background-color: #181823;
.main-wrapper
  display: flex;
  min-height: 813px
  position: relative
  max-width: 1440px;
  margin: auto;
.main__left-background
  width: 540px;
  min-height: 899px;
  top: -87px;
  background-color: #000;
  position: absolute;
  z-index: 5;    
.hero  
  &__title-text
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 94px;
    display: flex;
    align-items: center;
    color: #fff
    margin-bottom: 32px;    
  &__title
    position: relative;
    z-index: 20;
    &--another-color
      font-style: normal;
      font-weight: bold;
      font-size: 78px;
      line-height: 94px;
      display: flex;
      align-items: center;
      display: contents
      color: #8B8B91      
  &__under-title
    position: relative;
    z-index: 20;
    &--text
      font-weight: normal;
      font-size: 18px;
      line-height: 150%
      color: #fff
  &__info
    max-width: 738px;
    min-height: 368px;
    position: absolute;
    top: 169px;
    right: 40px;
.robin
  width: 750px;
  height: 650px;
  position: absolute
  top: 78px;
  left: 0;
  background-image: url(../img/robin.jpg);
  background-repeat: no-repeat;
  z-index: 10;
  