.main
  width: 1440px;
  margin: auto;
.main-wrapper
  display: flex;
  min-height: 900px
  position: relative
  background-color: #000
.main-left
  width: 540px;
.main-right
  width: 900px;  
  background-color: #181823;
  position: relative;
  
.navbar
  &__link
    color: #fff
.hero  
  &__title-text
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 94px;
    display: flex;
    align-items: center;
    color: #fff
  &__title--another-color
    display: contents
    color: #8B8B91
  &__under-title
    &--text
      color: #fff
  &__info
    width: 738px;
    height: 368px;