.philosophy-wrapper
  display: flex
.philosophy
  &__image
    width: 720px
    min-height: 600px
    // background-image: url(../img/philosophy-img.jpg)
    // background-repeat: no-repeat;
    // // position: absolute
    // top: 0px;
    // left: 0px;
    object-fit: cover
  &__img
    width: 100%;
    height: 100%
  &__content
    width: 720px
    min-height: 600px
    padding: 85px 72px 130px 72px
    display: flex
    flex-direction: column
    justify-content: space-between    
  &__title-text
    font-weight: bold;
    font-size: 55px;
    line-height: 66px;
    color: #181823
    margin-bottom: 24px
  &__some-title
    max-width: 576px
  &__some-title--text
    font-size: 18px;
    line-height: 150%;
    color: #5B6876    
  &__content-down
    &--text
      color: #181823
     
